 .u-section-1 {
  min-height: 662px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/WhatsAppImage2022-05-20at8.58.20PM2.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 662px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 430px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 302px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 418px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 198px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 82px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 346px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 19px 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -30px;
    margin-bottom: 16px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 950px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 383px;
  margin: 0px auto 0 0px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: -342px 0 0 594px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  margin: 75px 0px 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-3 .u-image-1 {
    width: 419px;
    height: 315px;
    margin-top: 11px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -315px;
    margin-left: 428px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 38px 20px 11px -20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    height: 241px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-3 .u-image-1 {
    height: 181px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2784px;
  }

  .u-section-3 .u-image-1 {
    height: 220px;
    width: 364px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1px;
    margin-bottom: 0;
  }
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}


.u-section-3 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}.u-section-4 .u-sheet-1 {
  min-height: 685px;
}

.u-section-4 .u-text-1 {
  margin: 72px 327px 0 377px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 0 auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
  min-height: 308px;
}

.u-section-4 .u-container-layout-1 {
  padding: 2px 0 0;
}

.u-section-4 .u-image-1 {
  width: 195px;
  height: 240px;
  margin: 45px 18px 0 7px;
}

.u-section-4 .u-text-2 {
  margin: 18px 0 0 7px;
}

.u-section-4 .u-text-3 {
  width: 160px;
  margin: 7px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 2px 0 0;
}

.u-section-4 .u-image-2 {
  width: 195px;
  height: 240px;
  margin: 45px 18px 0 7px;
}

.u-section-4 .u-text-4 {
  margin: 18px 0 0 7px;
}

.u-section-4 .u-text-5 {
  width: 160px;
  margin: 7px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 2px 0 0;
}

.u-section-4 .u-image-3 {
  width: 195px;
  height: 240px;
  margin: 45px 18px 0 7px;
}

.u-section-4 .u-text-6 {
  margin: 18px 0 0 7px;
}

.u-section-4 .u-text-7 {
  width: 160px;
  margin: 7px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 2px 0 0;
}

.u-section-4 .u-image-4 {
  width: 195px;
  height: 240px;
  margin: 45px 18px 0 7px;
}

.u-section-4 .u-text-8 {
  margin: 18px 0 0 7px;
}

.u-section-4 .u-text-9 {
  width: 160px;
  margin: 7px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 2px 0 0;
}

.u-section-4 .u-image-5 {
  width: 195px;
  height: 240px;
  margin: 45px 18px 0 7px;
}

.u-section-4 .u-text-10 {
  margin: 18px 0 0 7px;
}

.u-section-4 .u-text-11 {
  width: 160px;
  margin: 7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 480px;
    margin-top: 23px;
    margin-left: 277px;
    margin-right: 227px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 8px));
    min-height: 254px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 39px;
    margin-right: 7px;
    width: 160px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 39px;
    margin-right: 7px;
    width: 160px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 39px;
    margin-right: 7px;
    width: 160px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 39px;
    margin-right: 7px;
    width: 160px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: -15px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 39px;
    margin-right: 7px;
    width: 160px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 167px;
    margin-right: 117px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 649px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 77px;
    margin-right: 27px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1095px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1933px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    margin-top: 42px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 42px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 42px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 23px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 42px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 23px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 42px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 23px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
    margin-left: -10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 777px;
}

.u-section-5 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) ;
  grid-gap: 10px 10px;
  min-height: 626px;
}

.u-section-5 .u-container-layout-1 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-1 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-2 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-3 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-4 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-5 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-5 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-6 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-7 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-7 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-8 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-8 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-9 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-9 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-10 {
  margin: 36px 0 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 2px 0 0;
}

.u-section-5 .u-image-10 {
  width: 142px;
  height: 186px;
  margin: 49px 30px 0 auto;
}

.u-section-5 .u-text-11 {
  margin: 36px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 1348px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 39px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1317px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-7 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-8 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-9 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-5 .u-image-10 {
    margin-top: 63px;
    margin-right: 87px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 16px;
    margin-right: -84px;
    margin-left: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: -39px;
    margin-bottom: 2px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1852px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 626px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2974px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: -49px;
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3220px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-7 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-8 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-9 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-10 {
    margin-top: 12px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-bottom: 16px;
  }

  .u-section-5 .u-image-10 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-5 .u-text-11 {
    margin-top: 12px;
  }
}