 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-gallery-1 {
  height: 843px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-1 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-1 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 266px;
  }

  .u-section-1 .u-gallery-1 {
    height: 266px;
  }
} .u-section-2 {
  min-height: 691px;
}

.u-section-2 .u-text-1 {
  margin: 9px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 613px;
  grid-gap: 17px 17px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-gallery-item-1 {
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 2s;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 2s;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 2s;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 2s;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 2s;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  --effect-scale: 1.25;
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 2s;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 583px;
  }

  .u-section-2 .u-text-1 {
    margin-right: auto;
    width: 234px;
  }

  .u-section-2 .u-gallery-1 {
    height: 505px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 948px;
  }

  .u-section-2 .u-gallery-1 {
    height: 870px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2688px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2610px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1721px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1643px;
  }
} .u-section-3 {
  min-height: 786px;
}

.u-section-3 .u-text-1 {
  margin: 44px 338px 0 378px;
}

.u-section-3 .u-gallery-1 {
  height: 660px;
  grid-gap: 17px 17px;
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-gallery-item-1 {
  --effect-scale: 1.5;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 2.25s;
}

.u-section-3 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  --effect-scale: 1.5;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 2.25s;
}

.u-section-3 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  --effect-scale: 1.5;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 2.25s;
}

.u-section-3 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  --effect-scale: 1.5;
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 2.25s;
}

.u-section-3 .u-back-image-4 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  --effect-scale: 1.5;
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 2.25s;
}

.u-section-3 .u-back-image-5 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  --effect-scale: 1.5;
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 2.25s;
}

.u-section-3 .u-back-image-6 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 670px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 270px);
    margin-right: 279px;
  }

  .u-section-3 .u-gallery-1 {
    height: 544px;
  }

  .u-section-3 .u-back-image-1 {
    width: auto;
  }

  .u-section-3 .u-back-image-2 {
    width: auto;
  }

  .u-section-3 .u-back-image-3 {
    width: auto;
  }

  .u-section-3 .u-back-image-4 {
    width: auto;
  }

  .u-section-3 .u-back-image-5 {
    width: auto;
  }

  .u-section-3 .u-back-image-6 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1064px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 207px);
    margin-right: 214px;
  }

  .u-section-3 .u-gallery-1 {
    height: 938px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2940px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 155px);
    margin-right: 161px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2814px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1938px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 42px;
    margin-bottom: 53px;
    height: 1772px;
  }
} .u-section-4 {
  min-height: 1202px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  width: 227px;
  margin: 8px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 1099px;
  margin-bottom: 1px;
  margin-top: 29px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1009px;
  }

  .u-section-4 .u-gallery-1 {
    height: 906px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1664px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1561px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 4786px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-gallery-1 {
    height: 4683px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 3052px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    font-size: 1.5rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 2949px;
  }
}