<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="VIGNANA&nbsp;PEETHAM">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>View Admissions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/MainPage.css') }}" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/Admissions.css') }} " media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js') }} " defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename = 'js/MainPage.js') }} " defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
	</head>
<body class="u-body u-xl-mode"><header class="u-clearfix u-custom-color-1 u-header u-sticky u-sticky-629b u-header" id="sec-2b2b" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img class="u-image u-image-default u-image-1" src="{{url_for('static', filename = 'images/WhatsAppImage2022-03-28at19.25.26.jpeg') }}" alt="" data-image-width="1280" data-image-height="380" data-href="/" data-page-id="2983414445"><a href="/" data-page-id="2983414445" class="u-image u-logo u-image-2" data-image-width="167" data-image-height="122" title="Home">
        <img src="{{ url_for('static', filename = 'images/logo.png') }}" class="u-logo-image u-logo-image-1">
      </a><nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-responsive-from="MD">
        <div class="menu-collapse u-custom-font u-font-oswald" style="font-size: 1.5rem; letter-spacing: 0px; font-weight: 700;">
          <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="font-size: calc(1em + 24px); padding: 8px 0px;">
            <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-custom-font u-font-oswald u-nav u-spacing-20 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-7 u-text-grey-90 u-text-hover-custom-color-7" href="/" style="padding: 10px 24px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-7 u-text-grey-90 u-text-hover-custom-color-7" href="/about" style="padding: 10px 24px;">About us</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-7 u-text-grey-90 u-text-hover-custom-color-7" href="/management" style="padding: 10px 24px;">Management</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-7 u-text-grey-90 u-text-hover-custom-color-7" href="/gallery" style="padding: 10px 24px;">Gallery</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-7 u-text-grey-90 u-text-hover-custom-color-7" href="/admissions" style="padding: 10px 24px;">Admissions</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-7 u-text-grey-90 u-text-hover-custom-color-7" href="/donations" style="padding: 10px 24px;">Donations</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-7 u-text-grey-90 u-text-hover-custom-color-7" href="/" data-page-id="2983414445" style="padding: 10px 24px;">Contact</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/aboutus">About us</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/management">Management</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/gallery">Gallery</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/admissions">Admissions</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/donations">Donations</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" data-page-id="2983414445">Contact</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav></header>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<style>
		.containTable{
			align-items: center;
			padding: 0px;
		}
		.alert {
		  padding: 20px;
		  background-color: #f44336;
		  color: white;
		  margin-bottom: 15px;
		}

		.closebtn {
		  margin-left: 15px;
		  color: white;
		  font-weight: bold;
		  float: right;
		  font-size: 22px;
		  line-height: 20px;
		  cursor: pointer;
		  transition: 0.3s;
		}

		.closebtn:hover {
		  color: black;
		}
		.button{
			width: 33%;
		}
		@media(max-width:900px)
		{
			.button
			{
				width: 100%;
				margin: 1% 0;
			}
		}
		
		table, td, th, tr {
  border: 1px solid;
			padding: 10px 5px;
}

		tr:hover {background-color: orange;}
table {
  width: 100%;
  border-collapse: collapse;
	text-align: center;
}
	</style>

	<br>
	<br>
	<section class="u-clearfix u-section-1" id="sec-6d85">
      <div class="u-clearfix u-sheet u-sheet-1">
<div class="containTable">

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		<div class="alert">
		  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			{{ message }}
		</div>
		{% endfor %}
	  {% endif %}
	{% endwith %}


	<a href="/add"> <button class="btn btn-primary button">Add an Admission</button></a>
	<a href="/search"> <button class="btn btn-primary button">Search an Admission</button></a>
	<a href="/logout"> <button class="btn btn-danger button">Log Out</button></a>
	<br>
	<br>
	
    <div style="overflow-x: auto;">
	<table>
		<thead align="center">
		    <tr>
		{% for column in columns %}
		<th>{{ column }}</th>
		{% endfor %}
		</tr>
		</thead>

		{% for record in records %}
			<tr>
			{% for data in record %}
				<td>{{ data }}</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
	</div>
	</div>
		</div>
	</section>
	<br>
	<br>
</body>
</html>
